<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="loginForm">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Login to Fambook</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email address</mat-label>
            <input matInput type="email" placeholder="email" formControlName="email" required>
            <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="loginForm.controls['email'].hasError('email')">
              Not a valid <strong>email address</strong>
            </mat-error>
            <mat-hint>Hint: test@test.com</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password"
              required>
            <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </a>
            <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Login</button>
      <button mat-button color="accent" [routerLink]="['/auth/register']">Or Create Account</button>
    </mat-card-actions>
    <p *ngIf="invalidLogin" style="color: red;"> Invalid username and/or password. </p>
  </mat-card>
</form>
